<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>controller.PlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudinaryServlet</servlet-name>
        <servlet-class>controller.CloudinaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaylistServlet</servlet-name>
        <servlet-class>controller.PlaylistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>controller.ContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewContractServlet</servlet-name>
        <servlet-class>controller.NewContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpay_return</servlet-name>
        <servlet-class>controller.vnpay_return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistServlet</servlet-name>
        <servlet-class>controller.ArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSongServlet</servlet-name>
        <servlet-class>controller.AddSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListServlet</servlet-name>
        <servlet-class>controller.DeleteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>controller.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewListServlet</servlet-name>
        <servlet-class>controller.NewListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFormServlet</servlet-name>
        <servlet-class>controller.ListFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSongServlet</servlet-name>
        <servlet-class>controller.RemoveSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCRUDServlet</servlet-name>
        <servlet-class>controller.SingerCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingerCRUDAddServlet</servlet-name>
        <servlet-class>controller.SingerCRUDAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingerCRUDDeleteServlet</servlet-name>
        <servlet-class>controller.SingerCRUDDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingerCRUDUpdateServlet</servlet-name>
        <servlet-class>controller.SingerCRUDUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicCRUDServlet</servlet-name>
        <servlet-class>controller.MusicCRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicCRUDAddServlet</servlet-name>
        <servlet-class>controller.MusicCRUDAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicCRUDDeleteServlet</servlet-name>
        <servlet-class>controller.MusicCRUDDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MusicCRUDUpdateServlet</servlet-name>
        <servlet-class>controller.MusicCRUDUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>controller.UserManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanServlet</servlet-name>
        <servlet-class>controller.BanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudinaryServlet</servlet-name>
        <url-pattern>/cloudinary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaylistServlet</servlet-name>
        <url-pattern>/playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewContractServlet</servlet-name>
        <url-pattern>/newContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpay_return</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistServlet</servlet-name>
        <url-pattern>/artist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSongServlet</servlet-name>
        <url-pattern>/addSong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListServlet</servlet-name>
        <url-pattern>/deleteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewListServlet</servlet-name>
        <url-pattern>/newlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFormServlet</servlet-name>
        <url-pattern>/listForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSongServlet</servlet-name>
        <url-pattern>/removeSong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCRUDServlet</servlet-name>
        <url-pattern>/acrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingerCRUDAddServlet</servlet-name>
        <url-pattern>/addsinger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingerCRUDDeleteServlet</servlet-name>
        <url-pattern>/delsinger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingerCRUDUpdateServlet</servlet-name>
        <url-pattern>/upsinger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicCRUDServlet</servlet-name>
        <url-pattern>/mcrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicCRUDAddServlet</servlet-name>
        <url-pattern>/addsong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicCRUDDeleteServlet</servlet-name>
        <url-pattern>/delsong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MusicCRUDUpdateServlet</servlet-name>
        <url-pattern>/upsong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/userManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanServlet</servlet-name>
        <url-pattern>/ban</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
